body {
  background-image: url("images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  color:rgb(102, 0, 102);
}

p {
  color: rgb(227, 76, 133);
  font-weight: bold;
  font-size: large;
}

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row {
    margin-top: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

img.hover-shadow {
  transition: 0.6s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 700px;
  width: 1000px;
}